





body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  text-align: center;
  animation: fade-in 2s;
}

button {
  background: red;
  color: #fff !important;
  padding: 20px 20px;
margin: 20px auto;
border-radius: 12px;
width: 30%;
}

.container {
  margin: 40px auto;
  color: #fff;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 100%;}
}


.sectionContainer {
  background: #EE82EE;
  width: 70%;
  margin: 20px auto;
  border-radius: 12px;
  padding: 40px 20px;
  color: #fff;
}

.sectionContainer a {
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;

}

#score {
  background: #EE82EE;
  width: 50%;
  margin: 20px auto;
  border-radius: 12px;
  padding: 40px 20px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
   a {
    font-size: 15px;
  }

  .sectionContainer {
    padding: 60px 40px;
  }

}
